.main{
    width: 1000px;
    height: 800px;
    border: 1px dashed red;
    background-image: url("ARTBAT.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: url("ARTBAT.png") no-repeat center; */
    background-position: center;
    /* background-size(cover) is always used after background-image(interview question); */
}