*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.logo span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    text-decoration: none;
    color: brown;
    font-size: 15px;
}
.nav-links a:hover{
    color: rgba(165, 42, 42, 0.263);
}
.hero{
    background-image: url('house1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 90px;
}
.hero-text{
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%,-50%);
    text-align: left;
    color: white;
}
.hero-text h1{
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 50px;
    text-align: left;
}
.cta-button{
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.cta-button:hover{
    background-color: rgb(154, 154, 208);
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    margin: 80px;
}
.image-container{
    width: 50%;
}
.image-container img{
    width: 100%;
    height: auto;
}
.text-container{
    width: 50%;
    padding: 10px 20px;
}
.text-container h2{
    font-size: 30px;
    color: black;
}
.text-container p{
     font-size: 16px;
     color: black;
     line-height: 1.5;
     margin: 20px 0;
}
.cta-button{
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}