*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.logo span{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin: 0 15px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.nav-links a:hover{
    color: gray;
}
.hero{
    overflow: auto;
    background-image: url(house1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 80px;
}
.hero-text{
    po
}