.one {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.one img {
    width: 300px;
    height: 300px;
}

.one div {
    padding: 20px;
    height: 260px;
    transition: all 0.5s;
    width: 260px;
    background-color: rgba(30, 143, 255, 0.518);
    transform: translate(-305px, -300px);
    /* opacity: 0; */

}

.one:hover div {
    /* opacity: 1; */
    transform: translate(0px,-305px);
}