/* :root {
  --primary_color: #3b5998;
}

.one {
  column-count: 3;
  column-gap: 100px;
  column-rule: 2px solid var(--primary_color);
  column-width: 100px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.pagination ul li {
  padding: 10px;
  margin: 0px 10px;
  border-radius: 4px;
  background-color: #e5e5e5;
  box-shadow: 2px 2px 5px gray;
  transition: 150ms linear;
}
.pagination ul li:hover {
  background-color: var(--primary_color);
  color: white;
  box-shadow: 0px 0px 0px transparent;
} */

.image {
  width: 200px;
  height: 200px;
  /* background-size: cover; */
  /* object-fit: contain;
    object-fit: cover; */
  /* background-color: dodgerblue;
    object-fit:cover;
    object-position: 0% 0%; */
}
.animg {
  background-image: linear-gradient(
    45deg,
    blue,
    lightblue,
    blue,
    lightblue,
    blue,
    lightblue
  );
  font-size: 100px;
  border: 0px;
  border-radius: 14px;
  padding: 10px 20px;
  color: white;
  background-size: 600%;
  background-position: 0% 0%;
  transition: all 2s;
}
.animg:hover {
  background-position: 100% 100%;
}
