.one{
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
    animation-name: example;
    animation-duration: 5s;
}
@keyframes example{
    from{background-color:darkmagenta;}
    to{background-color: pink;}
}

.two{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: example1;
    animation-duration: 5s;
}
@keyframes example1{
    0% {background-color: blue;}
    25% {background-color: chartreuse;}
    50% {background-color: darkgreen;}
    100% {background-color: deeppink;}
}

.three{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example2;
    position: relative;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes example2{
    0% {background-color:red;left: 0px;top:0px ;}
    25% {background-color:yellow;left:100px;top:0px;}
    50%{background-color: darkseagreen;left:200px;top:200px;}
    75%{background-color: blue;left:0px;top:200px;}
    100%{background-color: darkgreen;left:0px;top:200px;}
}