.one {
    /* background-color: red; */
    height: 500px;
    /* background-image: linear-gradient(45deg, red, blue, yellow, green, purple); */
    /* background-image: repeating-linear-gradient(45deg,red 20%, blue 40%); */
    /* background-image: radial-gradient(circle, red, blue, yellow, green, purple); */
    /* background-image: repeating-radial-gradient(circle, red 10%, blue 20%); */
    /* background-image: conic-gradient( red 45deg, blue, yellow, green, purple); */
}