.one{
    width: 100%;
    height: 400px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}
.one div{
    background-color: hotpink;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}