.btn{
    width: 300px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: green;
    border: 5px ridge red;
    transition: linear 3s 0s;
}
.btn:hover{
    width: 200px;
    background-color: lightgreen;
}
.im{
    position: relative;
    width: 100%;
    
}
.im img{
    width: 100%;
    height: auto;
    
}
.im .btn1{
    position: absolute;
    top:50%;
    left: 50%;
    transition: ease-in-out 2s 0s;
    background-color: pink;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.im .btn1:hover{
    background-color: lightcoral;
    background-image: conic-gradient( red 45deg, blue, yellow, green, purple);
}
.btn2{
    width: 200px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: black;
    transition: all 2s;
}
.btn2:hover{
    transform: rotate(45deg);
}
.btn3{
    width: 200px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: black;
    background-color: lightcoral;
    transition: all 2s;
}
.btn3:hover{
    transform: skew(45deg,10deg);
}