.container{
    width: 50%;
    position: relative;
}
.container img{
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.container:hover img{
    opacity: 0.3;
}
.container:hover .middle{
    opacity: 1;
}
.text{
    background-color: #04AA6D;
    color: white;
    font-size: 15px;
    padding: 16px 32px;
}
