.one {
  background-color: red;
  width: 200px;
  position: absolute;
  top: 450px;
  left: 50px;
  border-radius: 50%;
  height: 200px;
  /* animation-name: tisa;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite; */
  /* animation: tisa 1s linear 0s infinite alternate forwards; */
  animation: bounce 2s linear 0s infinite alternate backwards;
}
/* 
@keyframes tisa {
  from {
    background-color: red;
    width: 200px;
  }
  to {
    background-color: blue;
    width: 500px;
  }
} */

@keyframes bounce {
  0% {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 50px;
    border-radius: 50%;
    height: 200px;
  }
  10% {
    top: 300px;
    left: 50px;
    height: 150px;
  }
  20% {
    height: 200px;
    left: 50px;
    top: 200px;
  }
  30% {
    height: 300px;
    left: 50px;
    top: 100px;
  }
  40% {
    height: 200px;
    left: 50px;
    top: 0px;
  }
  50% {
    height: 200px;
    left: 50px;
    top: 0px;
  }
  60% {
    height: 300px;
    left: 50px;
    top: 100px;
  }
  70% {
    height: 200px;
    left: 50px;
    top: 200px;
  }
  80% {
    top: 300px;
    left: 50px;
    height: 150px;
  }
  90% {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 50px;
    border-radius: 50%;
    height: 200px;
  }
}
