.one {
    width: 100%;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: start; */
    
}

.one div {
    background-color: hotpink;
    width: 200px;
    border: 2px solid black;
    height: 200px;
    /* display: inline-block; */
}
/* .one .one3{ */
    /* align-self: center; */
/* }  */