.container {
    width: 50%;
    position: relative;
}

.container img {
    height: auto;
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
}

.container:hover .overlay {
    transform: scale(1);
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}