.one{
    width: 400px;
    height: 400px;
    background-color: purple;
    transition: all 2s;
}
.one:hover{
    /* transform: translateX(100px); */
    /* transform: translateY(100px); */
    /* transform: translate(100px,100px); */
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(2); */
    /* transform: scale(0.5); */
    /* transform: skewX(45deg); */
    /* transform: skewY(45deg); */
    /* transform: skew(45deg,10deg); */
    /* transform: rotateX(360deg); */
    /* transform: rotateY(360deg); */
     transform: rotate(360deg); 
    
}
