.image{
    width: 200px;
    height: 200px;
    background-size: cover;
    object-fit: contain;
    background-color: dodgerblue;
    object-position: 50% 50%;
}
.animg{
    background-image: linear-gradient(45deg,pink,purple,pink,purple);
    font-size: 100px;
    border: 0px;
    border-radius: 14px;
    padding: 10px 20px;
    color: white;
    background-size: 200%;
    background-position: 0% 0%;
    transition: all 2s;
}
.animg:hover{
    background-position: 50% 50%;
}