.one{
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    position: absolute;
    top: 400px;
    left: 50px;
    border-radius: 100%;
    animation-name: tisa;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes tisa {
   0%{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 400px;
    left: 50px;
    border-radius: 50%;
   }
   10%{
    top: 300px;
    left: 50px;
   }
   20%{
    top: 200px;
    left: 50px;
   }
   30%{
    top: 100px;
    left: 50px;
   }
   40%{
    top: 0px;
    left: 50px;
   }
   50% {
    left: 50px;
    top: 0px;
  }
  60% {
    left: 50px;
    top: 100px;
  }
  70% {
    left: 50px;
    top: 200px;
  }
  80% {
    top: 300px;
    left: 50px;
  }
  90% {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 50px;
    border-radius: 50%;
    height: 200px;
  }
}